<!DOCTYPE html>
<html lang="en">
<head>
	<title>EarnXtraCash Mail</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="background-image: url(/static/img/vacation.jpg?{% now 'U' %});">
		<header class="jumbotron text-center">
			<h2>EarnXtraCash Mail List</h2>
		</header>
		<section class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="text-center text-primary">Email Address: <span style="font-size: 20px; color: cyan">{{ email }}</span></p>
				</div>
			</div>
		</section>
	</div>
</body>
</html>